/* ========= WHAT WE HAVE DONE =========== */
.what-we-done .container{
  position: relative;
  padding-bottom: 100px;
  border-bottom: 0.1px solid #13274e;
}

.logo-dark-blue{
  width: 54px;
  height: 54px;
}

.title-black{
  color: #13192d;
}

.d1{
  float: left;
  clear: right;
}

.d2{
  float: left;
}

.sub{
  margin-top: 3px;
}

.sub-title{
  font-family: Rockwell;
  font-size: 16px;
  font-weight: bold;
}

.sub-text-image{
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.29;
  color: #296a98;
  width: 100%;
}


.learn-more{
  background-color: #b0c5d5;
  width: 100%;
  text-align: center;
  line-height: 1;
}

a.link-learn-more:hover{
  color: #13192d;
  transition: color 0.2s;
}

a.link-learn-more:after{
  content:"\00bb";
  font-size: 150%;
}

.view-more{
  display: none;
}

.wedo-details{
  display: none;
}

/* ============ TECHNOLOGIES ============ */


#triangle-bottomleft { 
  width: 0; 
  height: 0; 
  border-bottom: 120px solid #d3dfe8; 
  border-right: 120px solid transparent;
  position: relative;
  top: -40px;
}

#triangle-bottomright { 
  width: 0; 
  height: 0; 
  border-bottom: 120px solid #d3dfe8; 
  border-left: 120px solid transparent;
  position: absolute;
  right: 0;
  bottom: 40px;
}

.technologies{
  position: relative;

  &__list{
      position: relative;
  }

  &__logo{
      width: 210px;
      border: 1px solid #333333;
      height: 210px;
      padding: 60px 60px;
      margin-left: 30px;
  }

  &__name{
    text-align: center;
    margin-left: 30px;
  }
}

.techname-bold{
  font-weight: 600;
}

.technologies-mb{
   display: none;
}

/* ============ NOT SURE  ============ */
.not-sure{
  background-color: #d3dfe8;
  padding-bottom: 40px;
  margin-top: -40px;
}

.procedure{
  background: #ffffff;
  margin-top: 10px;
  font-size: 15px;
  line-height: 25px;

  &__title{
      font-family: Rockwell;
      font-size: 25px;
      height: 30px;
      color: #13274e;
      text-transform: uppercase;
  }

  &__checkout{
      margin-top: 20px;
      width: 60%;
      text-align: center;
      background-color: #d3dfe8;
  }
  
  &__checkout:after{
      content:"\00bb";
      font-size: 150%;
      position: relative;
      top: 1px;
      color: #296a98;
  }
}


.checkout-procedure:after{
  content:"\00bb";
  font-size: 150%;
  position: relative;
  top: 1px;
  color: #296a98;
}

p.p-checkout{
  width: 100%;
}

/* =============== TESTIMONIAL =============== */
.triangle-topleft { 
  width: 0; 
  height: 0; 
  border-top: 120px solid #d3dfe8; 
  border-right: 120px solid transparent; 
  position: absolute;
  top:0px;
  left:0px;
}
.triangle-topright { 
  width: 0; 
  height: 0; 
  border-top: 120px solid #d3dfe8; 
  border-left: 120px solid transparent; 
  position: absolute;
  top:0px;
  right:0px;
}

.testimonial{
  background-color: #13274e;
  position: relative;
}

.person__image{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}

.person-info{
  margin-top: 50px;
  text-align: center;

  &__name{
      font-size: 15px;
      color: #d8d8d8;
      font-family: Rockwell;
      text-transform: uppercase;
  }

  &__position{
      font-size: 12px;
      color: #00adee;
  }
}

blockquote{
  margin-top: 50px;
  color: #d3dfe8;
  font-family: Rockwell;
  position: relative;
  font-size: 16px;
}

blockquote:before{
  content: "\201C";
  display: block;
  position: absolute;
  top: -50px;
  left: -7%;
  font-size: 600%;
  color: #296a98;
}

blockquote:after
{
  content: "\201D";
  font-size: 600%;
  color: #296a98;
  position: absolute;
  top: 70px;
  left: 170px;
}