html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.title-blog {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  height: 30px;
  padding: 60px;
  font-family: 'Open Sans', sans-serif;
  
}

.title-dark-blue {
  color: #296a98;
  font-weight: 300; 
}

/* ================= HEADER NEWS ===================== */
.header-news{
  height: 100%;
  background-color: #13274e;
}

img.img-header{
  width: 70%;
}

.header-news img{
  float: left;
  max-width: 75%;
  height: 100%;
}

.clear{
  clear: both;
}

.square{
  float: left;
  height: 100%;
  width: 30%;
  background-color: #13274e;
  opacity: 0.9;
  position: relative;
}

.top-news{
  position: absolute;
  top: 70px;
  left: 20px;
}

.top-news__inform{
  color: #d3dfe8;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.top-news__title{
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  line-height: 1.13;
  font-weight: bold;
  color: #d3dfe8;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hightlight-title{
  color: #00adee;
}

.top-news__short-article{
  font-size: 16px;
  font-style: italic;
  line-height: 1.25;
  color: #98bbd5;
}

a.link-learn-more{
  color: #00adee;
  font-size: 14px;
}

a.link-learn-more:hover {
  color: coral;
  transition: color 0.2s;
  text-decoration: none;
 }

a.link-learn-more:after {
  content: "\00bb";
  font-size: 150%; 
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 5px;
} 



/* ==================== POPULAR POST ================== */
.popular-post{
  background-color: #d3dfe8;
  padding: 56px 0;
}

.slick-next
{
    right: -45px;
}

.post__title{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 16px;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  color: #13274e;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}

.post__popular-item{
  background-color: #ffffff;
  border: solid 1px #d3dfe8;
  padding: 10px 10px;
  margin-left: 20px;
  height: 520px;
  position: relative;
}

.post__new-item{
  margin-left: 40px;
  border: solid 1px #d3dfe8;
  padding: 10px 10px;
}

.post__new-item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 250px;
}

.post__short-view{
  margin-top: 40px;
  font-size: 14px;
  color: #13274e;
  height: 25%;
}


p.post__request-consultation{
  background-color: #d3dfe8;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -5px;
}

.post__request-consultation a{
  color: #296a98;
  font-size: 14px;
  font-weight: 300;
}

a.post__request-link{
  padding-bottom: 10px;
  position: relative;
  top: -3px
}

a.post__request-link:after{
  content: "\00bb";
  font-size: 180%; 
  margin-left: 5px;
  position: relative;
  top: 1.5px;
}

a.post__request-link:hover{
  text-decoration: none;
}

