@media only screen and (max-width: 768px){
  /* ============== FOOTER ==================== */
  .contact__detail{
    font-size: 7px;
  }

  .contact__us{
    font-size: 4px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 480px){

  .navigation__nav{
    display: none;
  }

  .navigation__logo{
    width: 80px;
    height: 40px;
  }

  .navbar-burger {
    top: -80px;
    background-color: #296a98;
    width: 24px;
    height: 26px;
    ;
  }

  .navbar-burger span{
    border: 1px solid #ffffff;
  }

  .navbar:not(#a) {
    display: block;
    visibility: hidden;
    top: -100px;
    right: 30px;
  }

  #a {
    visibility: visible;
    top: 26px;
  }

  #navbarBasicExample {
    visibility: visible;
    width: 20%;
    float: right;
    position: absolute;
    z-index: 1000;
    right: 0;
    text-align: center;
  }

  #navbarBasicExample.navbar-menu.is-active{
    width: 100px;
  }

  .navbar-item, .navbar-link{
    padding: 1px 1px;
    font-size: 12px;
  }
}