@media only screen and (max-width: 1920px)
{
  .flip-box-front img{
    height: 450px;
    width: 450px;
  }

  .flip-box-front, .flip-box-back{
    height: 450px;
    overflow-y: auto;
  }



  .list-of-things{
    top: 128px;
  }

  .flip-box-back p:before{
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1440px){
  .flip-box-front img{
    height: 400px;
    width: 400px;
  }

  .flip-box-front, .flip-box-back{
    height: 400px;
  }

  .list-of-things{
    top: 77px;
  }

  .bottom-left-img{
    height: 50%;
    width: 53%;
  }

  .top-right-img{
    height: 57%;
    width: 54%;
  }

  .title-welcome{
    transform: translate(0, 220%);
  }
  
  .sub-welcome{
    transform: translate(0, 600%);
  }
}


@media only screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .list-done li img.logo-project-copy{
    width: 50px;
  }

  .grid{
    column-count: 1;
  }

  ul.grid li{
    margin-left: 20px;
  }

  .list-we-do{
    display: none;
  }

  .list-of-things{
    font-size: 18px;
    top: -3px;
    height: 60px;
  }

  .brand-logo {
    text-align: center;
  }

  /* ============ HEADER ============== */
  .title-welcome{
    transform: translate(0px, 350%);
  }

  .sub-welcome{
    transform: translate(0, 900%);
  }

  .top-right-img{
    height: 57%;
    width: 64%;
  }
  /*  FLIPBOX */
.flip-box-front img{
    height: 320px;
  }

  .flip-box-front, .flip-box-back{
    height: 320px;
  }

  .flip-box-back p{
    padding: 3px 3px;
    font-size: 14px;
  }

}

@media only screen and (max-width: 992px) {
  header{
    height: 800px;
  }

  .top-right-img{
    height: 50%;
  }

  .bottom-left-img{
    height: 42%;
    width: 53%;
  }

  .sub-welcome{
    transform: translate(0, 1550%);
  }
  
  .sub-welcome {
    transform: translate(0, 1550%);
    font-size: 10px;
    line-height: 1.2;
    color: #d3dfe8;
    width: 177px;
  }

  .scroll{
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .clear {
    clear: both;
  }

  .blur{
    width: 25%;
  }

  .next {
    top: 10%;
  }
  /* ========== HEADER ========== */
  header{
    height: 600px;
  }
  .sub-welcome{
    transform: translate(0, 900%);
  }

  .bottom-left-img{
    height: 43%;
  }

  /* ========== HEADER MOBILE ========== */
  .header{
    height: 500px;
  }

  nav {
    position: relative;
    right: 10px;
  }

  ul.main-nav li a:link,
  ul.main-nav li a:visited{
    margin-right: 40px;
  }

  .title-welcome {
    font-size: 48px;
    transform: translate(0, 250%);
    text-align: center;
  }


  .top-right-img {
    width: 475px;
  }

  ul.main-nav {
    position: relative;
    right: -55px;
    top: 30px;
  }

  ul.main-nav li:not(:last-child) {
    margin-right: -20px;
  }

  .list-of-things {
    font-size: 13.5px;
    font-weight: 300;
    top: -7px;
    height: 50px;
  }

  /* ========= WHAT WE HAVE DONE =========== */
  a.link-learn-more {
    font-size: 10px;
  }

  .sub-title {
    font-size: 14px;
  }

  .sub-text-image {
    font-size: 10px;
  }

  .view-more-s2 {
    display: block;
    text-align: center;
    color: #1e496a;
    font-size: 14px;
    font-weight: 300;
    margin-top: 50px;

  }

  .view-more-s2:after {
    content: "\00bb";
    margin-left: 5px;
    transform: rotate(90deg);
    display: inline-block;
  }

  #view-more {
    display: none;
  }
  /*  FLIPBOX */
  .flip-box-inner{
    height: 61%;
  }
  .flip-box-front img{
    height: 190px;;
  }
  
  .flip-box-front, .flip-box-back{
    height: 190px;
  }

  /* ========= TECHNOLOGY =========== */
  .technologies__list{
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
  }
  .technologies__list li {
    height: 120px;
    width: 22%;
    margin-left: 5px;
  }

  .technologies__name {
    margin-top: 5px;
    font-size: 8px;
    color: #13274e;
  }

  #triangle-bottomleft {
    border-bottom: 60px solid #d3dfe8;
    border-right: 60px solid transparent;
  }

  #triangle-bottomright {
    border-bottom: 60px solid #d3dfe8;
    border-left: 60px solid transparent;
  }

  /* ============ NOT SURE  ============ */
  .procedure {
    margin-top: -20px;
  }

  .checkout-procedure {
    width: 100%;
  }

  .procedure__checkout {
    width: 100%;

  }

  .procedure__checkout a {
    color: #296a98;
    font-weight: 300;
  }

  .procedure__checkout a:hover {
    text-decoration: none;
  }

  .procedure__title {
    font-size: 30px;
  }

  /* =============== TESTIMONIAL =============== */
  blockquote {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 8.3px;
  }

  blockquote:before {
    position: absolute;
    top: -65px;
    left: -30px;
  }

  blockquote:after {
    position: absolute;
    top: 33px;
    right: -150px;
  }

  .triangle-topleft {
    border-top: 60px solid #d3dfe8;
    border-right: 60px solid transparent;
  }

  .triangle-topright {
    border-top: 60px solid #d3dfe8;
    border-left: 60px solid transparent;
  }

  /* =============== FOOTER =============== */
  .find-us{
    top: 150px;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

  /* ========= REUSEABLE =========== */
  .title {
    font-size: 22px;
  }

  /* ========== HEADER MOBILE ========== */
  header {
    height: 600px;
  }

  .navigation__logo{
    width: 80px;
    height: 40px;
  }

  nav {
    display: none;
  }

  .top-right-img {
    width: 60%;
  }

  .title-welcome {
    font-size: 30px;
    transform: translate(0, 0);
  }

  .sub-welcome {
    transform: translate(0, -300%);
    font-size: 10px;
    line-height: 1.2;
    color: #d3dfe8;
    width: 177px;
  }

  .top-right-img{
    height: 27%;
  }

  .bottom-left-img {
    position: absolute;
    background-position: center;
    height: 50%;
    width: 103%;
    bottom: 0;
  }

  .lm-mb {
    color: #296a98;
    font-size: 14px;
    font-weight: 300;
    height: 14px;
    width: 74px;
    text-align: center;
    transition: color .2s;
  }

  a.lm-mb:hover{
    color: aqua;
    text-decoration: none;
  }

  .lm-mb:after {
    content: "\00bb";
    font-size: 150%;
    vertical-align: baseline;
    margin-left: 10px;
    position: relative;
    top: 1px;
  }

  .navbar-burger {
    top: -80px;
    background-color: #296a98;
    width: 24px;
    height: 26px;
    ;
  }

  .navbar-burger span {
    border: 1px solid #ffffff;
  }

  .navbar:not(#a) {
    display: block;
    visibility: hidden;
    top: -100px;
  }

  #a {
    visibility: visible;
    top: 65px;
    right: 8%;
  }

  #navbarBasicExample {
    visibility: visible;
    width: 20%;
    float: right;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 90px;
  }

  .navbar-item,
  .navbar-link {
    padding: 1px 1px;
    font-size: 12px;
    text-align: center;
  }

  .header-logo {
    position: relative;
    width: 80px;
    top: 25px;
  }

  .jd-slider,
  .jd-slider .slide-inner {
    display: none
  }
  /* ========= HEADER MOBILE =========== */
  .logo-white {
    display: none;
  }

  .list-we-do{
    display: block;
  }

  .header-mobile{
    background-color: #13274e;
    padding: 30px;
  }

  /* ========= WHAT WE HAVE DONE =========== */
  .logo-dark-blue {
    display: none;
  }

  .wedo-details {
    display: block;
  }

  .title-mb-wcd {
    font-size: 16px;
    color: #00adee;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .detail-mb-wcd {
    font-size: 14px;
    color: #98bbd5;
    line-height: 1;
  }

  .list-of-things{
    display: none;
  }

  img.logo-project-copy{
    width: 30px;
  }

  .project-detail{
    margin-top: -20px;
  }

  /* ========= TECHNOLOGY =========== */
  .technologies__list li {
    display: block;
    float: left;
    width: 30%;
    height: 180px;
    margin-top: -20px;

  }

  .technologies__logo {
    margin-left: auto;
    margin-right: auto;
  }

  .technologies__name{
    margin-left: 0;
  }

  .techname-bold {
    font-size: 8px;
  }

  #triangle-bottomleft {
    border-bottom: 60px solid #d3dfe8;
    border-right: 60px solid transparent;
  }

  #triangle-bottomright {
    border-bottom: 60px solid #d3dfe8;
    border-left: 60px solid transparent;
  }

  /* ============ NOT SURE  ============ */
  .procedure__title {
    font-size: 18px;
  }

  .procedure__detail {
    font-size: 14px;
    color: #13274e
  }

  blockquote{
    width: 90%;
  }

  .footer-section{
    height: auto;
  }

  .find-us{
    position: unset;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 360px){
  .top-right-img {
    height: 23%;
  }

  .find-us{
    margin-left: -30px;
  }
}